.container {
  gap: 20px;
  display: grid;
  .container-1 {
    left: 20px;
  }
  .container-2 {
    .action-column {
      text-align: center;
    }
    .action-column i {
      margin: 0 5px; /* Espacio entre los íconos */
    }
  }
}
